.home-template {
  height: 100vh;

  &__sider {
    background-color: white;
  }

  &__layout {
    background-color: #f6f8fb;

    &__header {
      background-color: transparent;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    &__content {
      padding-top: 40px;
      padding-left: 5%;
      padding-right: 5%;
      overflow: auto;
    }
  }
}
