$brand-color: #183a86;
$brand-secondary: #809aa7;
$link: #2d9cdb;
$link-disabled: #8ac4e6;

$p-input-background-color: white;
$p-input-focus-background-color: #1c1c1c;
$p-input-disabled-background-color: #a4a4a4;
$p-input-invalid-background-color: #f9e6e6;
$p-input-hover-border-color: #809aa7;
$p-input-focus-border-color: #22475a;

$p-input-placeholder-color: #4c5b70;
$p-input-placeholder-link-color: #56ccf2;
