@import 'styles/partials/colors';
@import 'styles/partials/variables';

.motherboard-area {
  background-color: white;
  width: 425px;
  height: 300px;
  padding: 20px 20px 25px 20px;
  display: flex;

  &__preview {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &__title {
      color: $brand-color;
      font-weight: bold;
      font-size: 24px;
    }

    &__body {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-grow: 1;
      margin-top: 16px;

      &__area {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        &__name {
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: $brand-secondary;
          max-width: 350px;
          letter-spacing: 0.02em;
        }
      }

      &__image {
        width: 150px;
        height: 150px;
        align-self: flex-end;
      }
    }
  }

  &__choose {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &__header {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &__title {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-weight: bold;
      color: $brand-color;
      flex-grow: 1;

      &__back-icon {
        font-size: 18px;
        margin-right: 8px;
      }

      &__text {
        color: $brand-color;
        font-size: 24px;
        white-space: nowrap;
        margin-right: 8px;
      }
    }

    &__body {
      overflow: auto;
      margin-top: 8px;
    }
  }
}

.ant-list-item {
  padding-left: 8px;
}

.ant-list-item:hover {
  background-color: #eceff1;
  cursor: pointer;
}
